$color-1: #21c2f8;
$color-2: #fff;
$color-3: #222533;
$color-4: #ffc12d;
$color-5: #f9b718;
$color-6: #a47503;
$color-7: #2c3e50;
$color-8: #a1b1bc;
$color-9: #e2e6e7;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-weight: normal;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
main {
  margin-top: 9px;
}

.alert {
  position: relative;
  border: solid $color-9 1px;
  border-radius: 11px;
  font-family: "Lato";
  width: 570px;
  height: 150px;
  &::before {
    content: "\f12a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    background-color: #ffc12d;
    border: solid #f9b718 7px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    float: left;
    color: $color-6;
    margin-left: 50px;
    margin-top: 43px;
    margin-right: 28px;
  }

  a {
    position: absolute;
    text-decoration: none;
    color: $color-8;
    top: 14px;
    right: 17px;
    i {
      font-size: 14px;
    }
  }
  div {
    font-size: 14px;
    padding-right: 70px;
    margin-top: 39px;
    h2 {
      font-weight: 900;
      font-size: 14px;
      color: $color-7;
      letter-spacing: 1.1px;
      word-spacing: 2.3px;
    }
    p {
      color: $color-8;
      margin-top: 11px;
      line-height: 24px;
    }
  }
}
