$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #2C3E50;
$color-4: #CFD2D3;

$alert-1-bg: #FFC12D;
$alert-1-border: #F9B718;
$alert-1-color: #A47503;
$alert-1-bg-solid: #FFC12D;
$alert-1-close-solid: #B18009;
$alert-1-conentnt: '\f12a';

$alert-2-bg: #97E411;
$alert-2-border: #7BC200;
$alert-2-color: #558502;
$alert-2-bg-solid: #A7EC2F;
$alert-2-close-solid: #558502;
$alert-2-conentnt: '\f00c';

$alert-3-bg: #FD7761;
$alert-3-border: #F55C43;
$alert-3-color: #D52E13;
$alert-3-bg-solid: #FEB1A4;
$alert-3-close-solid: #D52E13;
$alert-3-conentnt: '\f00d';

$alert-4-bg: #6FD9FC;
$alert-4-border: #47B4F6;
$alert-4-color: #0787D4;
$alert-4-bg-solid: #85EBFA;
$alert-4-close-solid: #0787D4;
$alert-4-conentnt: '\f0e7';

$alert-5-bg: #A39CDC;
$alert-5-border: #8781BD;
$alert-5-color: #5B568E;
$alert-5-bg-solid: #AACDF6;
$alert-5-close-solid: #5B568E;
$alert-5-conentnt: '\f129';
